.input {
	font-family: var(--roboto);
	width: 100%;
	padding: 20px 18px;
	border: 1px solid var(--gray-color);
	border-radius: 12px;
	background-color: transparent;
	color: var(--black-color);
	outline: none;
}

.error_input {
	border-color: var(--error-color);
}

.error_message {
	color: var(--error-color);
}