.header_wrapper {
	padding-block: clamp(10px, 2vw, 15px);
	display: flex;
	align-items: center;
	justify-content: start;
	gap: clamp(16px, 5vw, 40px);
}

.arrow {
	flex: 0 0 auto;
	width: clamp(20px, 5vw, 40px);
	height: clamp(20px, 5vw, 40px);
	cursor: pointer;

}

.arrow svg {
	width: 100%;
	height: 100%;
	transition: fill var(--transition);
}

.arrow:hover svg {
	fill: var(--brand-dark);
}

.logo {
	max-width: clamp(160px, 34vw, 320px);
}

.page_name {
	font-family: aeroport;
	font-size: clamp(20px, 5vw, 48px);
}