.form {
	font-family: var(--roboto);
	padding: 106px 50px 40px;
	max-width: 790px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--brand-gradient);
	border-radius: 24px;
}

.controls {
	margin-top: clamp(20px, 6vw, 40px);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.btn {
	font-family: var(--roboto);
	width: 100%;
	padding-block: clamp(10px, 3vw, 20px);
	border: 1px solid var(--gray-color);
	border-radius: 12px;
	background-color: transparent;
	color: var(--black-color);
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color var(--transition), border-color var(--transition), color var(--transition);
}

.btn:hover {
	background-color: var(--brand-light);
}

.btn:focus {
	border-color: var(--black-color);
	color: var(--black-color);
}


@media (max-width: 480px) {
	.controls {
		flex-wrap: wrap;
	}
}